#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

#navbar ul li {
  list-style: none;
}

#main-doc {
  margin-left: 300px;
}