body {
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 3px solid #696969;
}

#navbar header {
  padding-left: 20px;
}

#navbar ul {
  padding: 0;
  width: 100%;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

#navbar ul li {
  border-top: 1px solid #000000;
  padding: 8px 0 8px 20px;
  list-style: none;
}

#main-doc {
  margin-left: 300px;
  padding: 20px;
}

.main-section ul li {
  margin-top: 8px;
}

pre {
  padding: 8px;
  background-color: #eeeeee;
}

@media (max-width: 815px) {
  #navbar {
    position: static;
    width: 100%;
  }

  #navbar header {
    text-align: center;
  }

  #navbar ul li:last-child {
    border-bottom: 1px solid #000000;
  }

  #main-doc {
    margin-left: auto;
  }
}